<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Location</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <script src="https://use.fontawesome.com/8418aa1434.js"></script>
</head>
<body>
    <form action="#" method="post">
        <label>JA</label><input type="radio" name="option" value="ja" />
        <label>NEE</label><input type="radio" name="option" value="nee"/>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>