<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Location</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <script src="https://use.fontawesome.com/8418aa1434.js"></script>
</head>
<body>
    <h1 class="page_title">Type hier een locatie in (in Nederland)</h1>
    <div class="page_icon"><i class="fa fa-street-view" aria-hidden="true"></i></div>
    <div class="location_box">
        <form action="#" method="post" class="form_box">
            <input class = questionfield type="text" placeholder="vul een stad in" name="city"/>
            <button class="locationbutton" type="submit"><i class="fa fa-paper-plane"></i></button>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages%}
            {% for message in messages %}
                <p class="error">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>